<app-header></app-header>
<div class="container mx-auto py-8">
  <h2 class="text-2xl font-bold mb-4 text-center">Create New Feeding Session</h2>
  <form [formGroup]="feedingSessionForm" (ngSubmit)="onSubmit()" class="max-w-sm mx-auto">
    <div class="mb-4">
      <label for="amountConsumed" class="block mb-2 font-semibold">Amount Consumed:</label>
      <input type="number" class="w-full px-3 py-2 border border-gray-300 rounded" id="amountConsumed" name="amountConsumed"
             formControlName="amountConsumed" required>
    </div>
    <div class="mb-4">
      <label for="date" class="block mb-2 font-semibold">Feeding Session Date:</label>
      <input type="date" class="w-full px-3 py-2 border border-gray-300 rounded" id="date" name="date"
             formControlName="date" required>
    </div>
    <div class="mb-4">
      <label for="startTime" class="block mb-2 font-semibold">Start Time:</label>
      <input type="time" class="w-full px-3 py-2 border border-gray-300 rounded" id="startTime" name="startTime"
             formControlName="startTime" required>
    </div>
    <div class="mb-4">
      <label for="endTime" class="block mb-2 font-semibold">End Time:</label>
      <input type="time" class="w-full px-3 py-2 border border-gray-300 rounded" id="endTime" name="endTime"
             formControlName="endTime" required>
    </div>
    <button type="submit" class="w-full px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Submit</button>
  </form>
</div>
